<%- include("./partials/head.ejs") %>
<%- include("./partials/header.ejs") %>
<main class="gridOneRow">
    <%- include("./partials/navigacija.ejs") %>
    <table>
        <thead>
          <tr>
            <th>Pavadinimas</th>
            <th>Prasideda</th>
          </tr>
        </thead>
        <tbody>
        <% duomenys.forEach(function(data) { %>
            <tr>
                <td><%= data.pavadinimas %></td>
                <td><%= data.prasideda %></td>
              </tr>
            <% }); %>
          </tbody>
      </table>
</main>


<%- include("./partials/footer.ejs") %>